<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Settings</title>
</head>
<body>
	<div align="center">
		<div style="width: 500px; height: 250px; border: double">
			<div style="text-align: right; cursor: pointer" onclick="window.location = '@Url.Action("Index","Login")'">Logout</div>

			<table>
				<tr>
					<th>Date format:</th>
					<td>
						<select>
							<option>DD-MM-YYYY</option>
							<option>DD/MM/YYYY</option>
							<option>MM/DD/YYYY</option>
							<option>MMM DD YYYY</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Number format:</th>
					<td>
						<select>
							<option>123,456,789.00</option>
							<option>123.456.789,00</option>
							<option>123 456 789.00</option>
							<option>123 456 789,00</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Defalut currency:</th>
					<td>
						<select>
							<option>$ - US dollar</option>
							<option>&euro; - euro</option>
							<option>&pound; - Great Britain Pound</option>
						</select>
					</td>
				</tr>
				<tr><td style="height: 50px"/></tr>
			</table>

			<div align="center">
				<button onclick="alert('Changes are saved!'); window.location = '@Url.Action("Index", "Deposit")';" title="Save" id="save">Save</button>
				<button onclick="window.location = '@Url.Action("Index", "Deposit")'" title="Save" id="cancel">Cancel</button>
			</div>
		</div>
	</div>

	<script>
		function sleep (time) {
			return new Promise((resolve) => setTimeout(resolve, time));
		}

		function show(id) { document.getElementById(id).style.display = "initial"; }
        function hide(id) { document.getElementById(id).style.display = "none"; }

		hide('save');
		hide('cancel');

		sleep(500).then(() => {
			show('save');
			sleep(500).then(() => show('cancel'));
		});
	</script>
</body>
</html>