FROM: serg.d.mitre@company.com
TO: web.dev@company.com
SUBJECT: New project - deposit calculator
---
Hi all,

Let's create a web calculator for our clients. All of them will be happy to have such functionality.

First screen - Sign In. Add next fields&buttons:
 * Login filed, labeled 'User'
 * Password filed, labeled 'Password'
 * Login button
 * Remind password button (use test@test.com email)
You can use your test account:
 * user: test
 * pass: newyork1

Second screen - Deposit calculator itself.
 * Deposit amount. Users can put up to 100,000 on deposit.
 * Interest rate: up to 100%
 * Investment term: maximum term is equal to financial year length.
 * Financial year: two options available (360 and 365 days)
 * Start date.
 * Income: (output) should be the sum of 'Deposit amount' and 'Interest earned'
 * Interest earned: (output) all money are payed on the end date in single transaction.
 * End date (output)

Third screen: Setting.
Let our customers to choose dates and number formats, and currency.

---
With best regards,

Serg d'Mitre
Product Owner

mailto:serg.d.mitre@company.com
cell:+123-000-456-78-90
