<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
</head>
<body>
	<div align="center">
		<div style="width:500px; height:270px; border:double">

			<div style="text-align: right; cursor: pointer" onclick="window.location='@Url.Action("Index","Deposit")'">Calculator</div>

			<table>
				<tr> <th>Amount</th> <th>Interest</th> <th>Term</th> <th>From</th> <th>To</th> <th>Year</th> <th>Income</th> </tr>
			</table>
			<br>
			<button onclick="clear">Clear</button>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
    function clear() {}
</script>